code {
  line-height: 1.85em;
}

.container {
  margin-bottom: 1.5rem;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 6px;
}

.container > div {
  padding: 1.5rem;
  background-color: inherit;
  border-radius: inherit;
}

.container#UseClickAwayDemo button,
.container#UseFullscreenDemo button,
.container#UseCounterDemo button,
.container#UseToggleDemo button,
.container#UseIntervalDemo button,
.container#UseTimeoutDemo button {
  margin-right: 6px;
}

.container#UseTitleDemo input {
  margin-left: 6px;
}

.container#UseFaviconDemo > div {
  display: flex;
  align-items: flex-end;
}

.container#UseFaviconDemo button {
  margin-left: 12px;
}

.container#UseCounterDemo input {
  width: 30px;
}